content>* {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.noticia {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.noticia-1 {
  background-image: url("https://abrilveja.files.wordpress.com/2020/03/000_1pz9c0.jpg?quality=70&strip=info&w=650&h=434");
}

.noticia-2 {
  background-image: url("https://www.unifor.br/documents/20143/568430/coronavirus_site_especial_unifor.jpg/2653cea4-bd1c-6f1c-e032-ba60224fa246?t=1584042858541");
}

.noticia-3 {
  background-image: url("https://s2.glbimg.com/XuwfZGaic_P8oibZHwXGlfGVwP4=/e.glbimg.com/og/ed/f/original/2020/04/10/hoobox_-_divulgacao.png");
}

.noticia-4 {
  background-image: url("https://img.r7.com/images/animais-invadem-cidades-isolamento-social-19032020144556913?dimensions=660x440&no_crop=true");
}

.noticia-5 {
  background-image: url("https://img-s-msn-com.akamaized.net/tenant/amp/entityid/BB12u7pF.img?h=450&w=799&m=6&q=60&o=f&l=f");
}

.noticia-6 {
  background-image: url("https://img.ibxk.com.br/2020/02/05/05172518276445.jpg?w=1120&h=420&mode=crop&scale=both");
}

.layer {
  background-color: rgba(0, 0, 0, 0.4);
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.layer h1 {
  width: 50%;
  color: #fff;
  font-size: 2em;
  padding: 32px 0px;
}

.layer a {
  color: #fff;
  font-size: 2em;
  background-color: rgb(46, 189, 177);
  border-radius: 16px;
  padding: 16px 32px;
}

.layer a:hover {
  background-color: rgb(56, 146, 139);
}

.layer iframe {
  padding: 16px;
  width: 90%;
  height: 100%;
  max-width: 560px;
  max-height: 315px;
}