content {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ddd;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("https://www.unifor.br/documents/20143/568430/coronavirus_site_especial_unifor.jpg/2653cea4-bd1c-6f1c-e032-ba60224fa246?t=1584042858541");
  top: 64px;
}

@media screen and (max-width: 1080px) {
  content {
    top: 114px;
    height: 100vh
  }
}

@media screen and (max-width: 480px) {
  content {
    top: 0px;
    height: 100%;
  }
}

content nav {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.603);
  border-radius: 8px;
  padding: 32px 0px;
}

content h2 {
  font-size: 2em;
  padding: 32px;
}

content ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

content li {
  padding: 16px 0px;
}

content a {
  color: rgb(46, 189, 177);
  font-weight: bold;
}

content a:hover {
  color: rgb(56, 146, 139);
  border: none;
}